<br>
<div *ngFor="let Item of stackAndWeatherList">
  <app-stack-over-list-item *ngIf="Item.title" [stackOverItem]="Item"></app-stack-over-list-item>
  <app-weather-list-item *ngIf="!Item.title" [weatherListItem]="Item"></app-weather-list-item>
  <hr>
</div>
