<div>
  Datum: {{weatherListItem['Datum']}}, Zeit: {{weatherListItem['Zeit']}}
</div>
<div>
  Temp. A: {{weatherListItem['Temp. A.']}}°C, Temp.3: {{weatherListItem['Temp. 3']}}°C
</div>
<div>
  Luftdruck: {{weatherListItem['Luftdruck']}} hPa, Feuchte A.: {{weatherListItem['Feuchte A.']}}%
</div>
<div>
  Regen: {{weatherListItem['Regen']}} mm
</div>
<div>
  Wind: {{weatherListItem['Wind']}} m/s, Richtung: {{weatherListItem['Richtung']}}°
</div>
<div>
  Helligkeit: {{weatherListItem['Helligkeit']}} Lumen
</div>

