<mat-tab-group>
  <mat-tab label="TypeScript">
    <div *ngFor="let topic of topic">
    <app-stack-over-list *ngIf="topic==='typescript'" [topic]="topic"></app-stack-over-list>
  </div>
  </mat-tab>
  <mat-tab label="Angular2">
    <div *ngFor="let topic of topic">
    <app-stack-over-list *ngIf="topic==='angular2'" [topic]="topic"></app-stack-over-list>
  </div>
  </mat-tab>
  <mat-tab label="Mix">
    <div *ngFor="let topic of topic">
      <app-weather-list *ngIf="topic==='weather'" [topic]="topic"></app-weather-list>
    </div>
  </mat-tab>
</mat-tab-group>

